@import "tailwindcss";

body{
    margin: 0;
    overflow: hidden;
}
textarea{
    resize: none;
}
*::selection{
    background: #000;
    color: white;
}

/* Number spinner off */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* eye reveal off */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
}