@import "tailwindcss";

body{
    margin: 0;
    overflow: hidden;
}
textarea{
    resize: none;
}
*::selection{
    background: #000;
    color: white;
}

/* Number spinner off */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* eye reveal off */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.slate.300') transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.slate.300');
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.400');
}